<!DOCTYPE html>
<html>

<!-- STYLESHEETS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<link rel="stylesheet" href="styles/styles.css">

<!-- FONTS -->
<style>
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Electrolize|Fredoka+One|Graduate|Permanent+Marker|Roboto+Condensed|Rock+Salt|Rubik+Mono+One|Shrikhand|Titillium+Web');
</style>

<!-- VENDOR SCRIPTS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<!-- APPLICATION SCRIPTS -->
<script src="scripts/app.js"></script>

  <head>
    <meta charset="utf-8">
    <title>sneakerHUB</title>
  </head>
  <body>
    <div class="container">
      <div class="row center-align">
        <div class="col s12 m12 l12">
    <header>
      <div class="banner">
      <div class="container">
        <h1>sneakerHUB</h1>
        <h3>a crowdsourced sneaker collection</h3>
      </div>
      </div>
    </header>

    <nav>
      <div class = "navbar">
        <ul>
          <li>
            <a href ="http://localhost:5000/">main</a>
          </li>
          <li>
            <a href ="http://localhost:5000/about">about</a>
          </li>
          <li>
            <a href ="http://localhost:5000/contact">contact</a>
          </li>
          <li>
            <a href ="http://localhost:5000/source">source</a>
          </li>
          <li>
            <a href ="http://localhost:5000/brand">brands</a>
          </li>
        </ul>
      </div>

    </nav>

    <main>
      <h2>EDITORS</h2>

    <section class="container about">

      <div id="julie" class="col s12 m6 l6">
        <img class="circle" id="profileimg" src ="https://scontent.fsnc1-2.fna.fbcdn.net/v/t1.0-9/551353_10101690717171091_1929341920_n.jpg?oh=db7cad2728ea0ffc82884907f3786ef8&oe=598BB5BB">
        <h4>JULIE HUANG</h4>
        <p>Originally from East Los Angeles, I grew up with a love of hip hop, rNb, sneaker culture, street-style, and fashion. I've worked in urban planning and retail-- which may seem like a weird mix-- but definitely represents my love for cities and fashion. Currently, I'm working toward a web development career with a goal to improve ecommerce usability and to start my own street-style brand one day.</p>
      </div>

      <div id="kevin" class="col s12 m6 l6">
          <img class="circle" id="profileimg" src ="https://scontent.fsnc1-2.fna.fbcdn.net/v/t1.0-9/1453448_10102858656436406_1819013287_n.jpg?oh=88047933e979f29fcb64415521d558f1&oe=5989326D">
          <h4>KEVIN TSE</h4>
          <p>Also from East Los Angeles,
      </div>

    </section>

    </main>
    <footer class = "footer">
      <!-- <p>julie and kevin's project</p> -->
    </footer>
        </div>
      </div>
    </div>


  </body>
</html>
