<!DOCTYPE html>
<html>

<!-- STYLESHEETS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<link rel="stylesheet" href="styles/styles.css">

<!-- FONTS -->
<style>
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Electrolize|Fredoka+One|Graduate|Permanent+Marker|Roboto+Condensed|Rock+Salt|Rubik+Mono+One|Shrikhand|Titillium+Web');
</style>

<!-- VENDOR SCRIPTS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<!-- APPLICATION SCRIPTS -->
<script src="scripts/app.js"></script>

  <head>
    <meta charset="utf-8">
    <title>sneakerHUB</title>
  </head>
  <body>
    <div class="container">
      <div class="row center-align">
        <div class="col s12 m12 l12">
    <header>
      <div class="banner">
      <div class="container">
        <h1>sneakerHUB</h1>
        <h3>a crowdsourced sneaker collection</h3>
      </div>
      </div>
    </header>

    <nav>
      <div class = "navbar">
        <ul>
          <li>
            <a href ="/">top 25</a>
          </li>
          <li>
            <a href ="/source">the source</a>
          </li>
          <li>
          <a href ="/brand">the brands</a>
          </li>
          <li>
            <a href ="/about">about us</a>
          </li>
          <li>
            <a href ="/contact">contact info</a>
          </li>
        </ul>
      </div>

    </nav>

    <main>
      <h2>CONTACT US</h2>

    <section class="container">

    <div id="julie">
      <h3>JULIE HUANG</h3>
        <label>email: </label><a class="contact-link" href= "mailto:heyjulieh@gmail.com">heyjulieh@gmail.com</a>
        <br>
        <label>linkedin: </label><a class="contact-link" href="https://www.linkedin.com/in/jliehng/">linkedin.com/in/jlehng</a>
        <br>
        <label>github: </label><a class="contact-link" href="https://github.com/heyjulieh">github.com/heyjulieh</a>
        <br>
        <label>portfolio: </label><a class="contact-link" href="https://heyjulieh.github.io/">heyjulieh.github.io</a>
        <br>
    </div>

      <div id='kevin'>
        <h3>KEVIN TSE</h3>
          <label>email: </label><a class="contact-link" href= "mailto:kevinctse@gmail.com">kevinctse@gmail.com</a>
          <br>
          <label>linkedin: </label><a class="contact-link" href= "https://www.linkedin.com/in/kevin-tse-796703119/">linkedin.com/in/kevin-tse</a>
          <br>
          <label>github: </label><a class="contact-link" href="https://github.com/kwadrnt/">github.com/kwadrnt</a>
          <br>
          <label>portfolio: </label><a class="contact-link" href="http://kevinbuilt.com/">kevinbuilt.com</a>
          <br>
        </div>
    </section>

    </main>
    <footer class = "footer">
      <!-- <p>julie and kevin's project</p> -->
    </footer>
        </div>
      </div>
    </div>


  </body>
</html>
