<!DOCTYPE html>
<html>

<!-- STYLESHEETS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<link rel="stylesheet" href="styles/styles.css">

<!-- VENDOR SCRIPTS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<!-- APPLICATION SCRIPTS -->
<script src="scripts/app.js"></script>

  <head>
    <meta charset="utf-8">
    <title>sneakerHUB</title>
  </head>
  <body>
    <div class="container">
      <div class="row center-align">
        <div class="col s12 m12 l12">
    <header>
      <div class="banner">
      <div class="container">
        <h1>sneakerHUB</h1>
        <p>Julie and Kevin's hot kick picks!</p>
      </div>
      </div>
    </header>

    <nav>
      <div class = "navbar">
        <ul>
          <li>
            <a href ="http://localhost:5000/about">about</a>
          </li>
          <li>
            <a href ="http://localhost:5000/contact">contact</a>
          </li>
          <li>
            <a href ="http://localhost:5000/source">source</a>
          </li>
          <li>
            <a href ="http://localhost:5000/brand">brand</a>
          </li>
        </ul>
      </div>

    </nav>

    <main>
      <div class = "shoe-list">
      </div>

    </main>
    <footer class = "footer">
      <!-- <p>julie and kevin's project</p> -->
    </footer>
        </div>
      </div>
    </div>


  </body>
</html>
