<!DOCTYPE html>
<html>

<!-- STYLESHEETS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<link rel="stylesheet" href="styles/styles.css">

<!-- VENDOR SCRIPTS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<!-- APPLICATION SCRIPTS -->
<script src="scripts/app.js"></script>

  <head>
    <meta charset="utf-8">
    <title>sneakerHUB</title>
  </head>
  <body>
    <div class="container">
      <div class="row center-align">
        <div class="col s12 m12 l12">
    <header>
      <div class="banner">
      <div class="container">
        <h1>sneakerHUB</h1>
        <p>Julie and Kevin's hot kick picks!</p>
      </div>
    </div>
    </header>

    <nav>
      <div class = "navbar">
        <ul>
          <li>
            <a href ="#">about</a>
          </li>
          <li>
            <a href ="#">contact</a>
          </li>
          <li>
            <a href ="#">source</a>
          </li>
          <li>
            <a href ="#">brand</a>
          </li>
        </ul>
      </div>

    </nav>

    <main>

             <!-- shoes! -->
    <section class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <h2>TOP 25</h2>
        </div>
      </div>

      <!-- shoes container! -->
      <div id='shoes'></div>

    </section>

                     <!-- begin songModal: this is not visible until you call .modal() on it -->
                         <div class="modal fade" tabindex="-1" role="dialog" id="reviewModal">
                           <div class="modal-dialog">
                             <div class="modal-content">
                               <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                 <h4 class="modal-title">Create Review</h4>
                               </div>
                               <div class="modal-body">

                                 <fieldset class='form-horizontal'>
                                   <!-- Text input-->
                                   <div class="form-group">
                                     <label class="col m4 control-label" for="userName">User Name</label>
                                     <div class="col m4">
                                       <input id="userName" name="userName" type="text" placeholder="" class="form-control input-md" required="">
                                     </div>
                                   </div>

                                   <!-- Number input-->
                                   <div class="form-group">
                                     <label class="col m4 control-label" for="review">Your Review</label>
                                     <div class="col m4">
                                       <input id="review" name="review" type="text" placeholder="" class="form-control input-md">
                                     </div>
                                   </div>
                                 </fieldset>

                               </div>
                               <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                 <button type="button" class="btn btn-primary" id="saveReview">Save changes</button>
                               </div>
                             </div><!-- /.modal-content -->
                           </div><!-- /.modal-dialog -->
                         </div><!-- /.modal -->


                         <!-- Edit Review Modal -->
                         <div class="modal fade bs-modal-lg" id="editReviewModal" tabindex="-1" role="dialog" aria-labelledby="editReviewModalTitle">
                           <div class="modal-dialog" role="document">
                             <div class="modal-content">
                               <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                 <h4 class="modal-title" id="editReviewModalTitle">Edit Review</h4>
                               </div>
                               <div class="modal-body" id='editReviewModalBody'>
                                 <p> REPLACE #editSongsModalBody </p>
                               </div>
                               <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                 <button type="button" class="btn btn-primary" id='editReviewModalSubmit'>Save changes</button>
                               </div>
                             </div><!-- /.modal-content -->
                           </div><!-- /.modal-dialog -->
                         </div><!-- /.modal -->



    </main>
    <footer class = "footer">
      <!-- <p>julie and kevin's project</p> -->
    </footer>
        </div>
      </div>
    </div>


  </body>
</html>
