<!DOCTYPE html>
<html>

<!-- STYLESHEETS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<link rel="stylesheet" href="styles/styles.css">

<!-- VENDOR SCRIPTS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<!-- APPLICATION SCRIPTS -->
<script src="scripts/app.js"></script>

  <head>
    <meta charset="utf-8">
    <title>sneakerHUB</title>
  </head>
  <body>
    <div class="container">
      <div class="row center-align">
        <div class="col s12 m12 l12">
    <header>
      <div class="banner">
      <div class="container">
        <h1>sneakerHUB</h1>
        <p>Julie and Kevin's hot kick picks!</p>
      </div>
      </div>
    </header>

    <nav>
      <div class = "navbar">
        <ul>
          <li>
            <a href ="#">about</a>
          </li>
          <li>
            <a href ="#">contact</a>
          </li>
          <li>
            <a href ="#">source</a>
          </li>
          <li>
            <a href ="#">brand</a>
          </li>
        </ul>
      </div>

    </nav>

    <main>



<!-- Form Name -->
            <legend>Add New Shoe</legend>

            <!-- Text input-->
            <form id="submitForm">
            <div class="form-group">
              <label class="col m4 control-label" for="name">Shoe Name</label>
              <div class="col sm4 m4 l4">
              <input id="name" name="name" type="text" placeholder="i.e. Ultraboost" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col m4 control-label" for="brandName">Brand Name</label>
              <div class="col sm4 m4 l4">
              <input id="textinput" name="brandName" type="text" placeholder="i.e Adidas" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col m4 control-label" for="releaseDate">Release Date</label>
              <div class="col sm4 m4 l4">
              <input id="releaseDate" name="releaseDate" type="text" placeholder="i.e. February 11, 2015" class="form-control input-md">

              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col m4 control-label" for="type"> Type (separated by commas)</label>
              <div class="col sm4 m4 l4">
                <textarea class="form-control" id="genres" name="genres">running, lifestyle</textarea>
              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col m4 control-label" for="review">Add your review</label>
              <div class="col sm4 m4 l4">
                <textarea class="form-control" id="review" name="review"></textarea>
              </div>
            </div>


            <!-- Button -->
            <div class="form-group">
              <label class="col sm4 m4 l4 control-label" for="singlebutton">Save</label>
              <div class="col sm4 m4 l4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      </div>
     
     <div id="shoes">
     </div>

    </section>

     <!--   END FORM SAMPLE -->
   </main>
   <footer class = "footer">
     <!-- <p>julie and kevin's project</p> -->
   </footer>
       </div>
     </div>
   </div>


 </body>
 </html>
