<!DOCTYPE html>
<html>

<!-- STYLESHEETS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<link rel="stylesheet" href="styles/styles.css">

<!-- VENDOR SCRIPTS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<!-- APPLICATION SCRIPTS -->
<script src="scripts/app.js"></script>

  <head>
    <meta charset="utf-8">
    <title>sneakerHUB</title>
  </head>
  <body>
    <div class="container">
      <div class="row center-align">
        <div class="col s12 m12 l12">
    <header>
      <div class="banner">
      <div class="container">
        <h1>sneakerHUB</h1>
        <p>Julie and Kevin's hot kick picks!</p>
      </div>
      </div>
    </header>

    <nav>
      <div class = "navbar">
        <ul>
          <li>
            <a href ="http://localhost:5000/">main</a>
          </li>
          <li>
            <a href ="http://localhost:5000/about">about</a>
          </li>
          <li>
            <a href ="http://localhost:5000/contact">contact</a>
          </li>
          <li>
            <a href ="http://localhost:5000/source">source</a>
          </li>
          <li>
            <a href ="http://localhost:5000/brand">brand</a>
          </li>
        </ul>
      </div>

    </nav>

    <main class = "source">


<!-- Form Name -->
            <legend>Add New Shoe</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col s6 m6 l6 input-field" for="name">Shoe Name: </label>
              <div class="col s6 m6 l6">
              <input id="name" name="name" type="text" placeholder="i.e. Ultraboost" class="form-control input-md" required="">

              </div>
            </div>
            <br>

            <!-- Text input-->
            <div class="form-group">
              <label class="col s6 m6 l6 input-field" for="brandName">Brand Name: </label>
              <div class="col s6 m6 l6">
              <input id="brandName" name="brandName" type="text" placeholder="i.e Adidas" class="form-control input-md">

              </div>
            </div>
            <br>
            <!-- Text input-->
            <div class="form-group">
              <label class="col s6 m6 l6 input-field" for="releaseDate">Release Date: </label>
              <div class="col s6 m6 l6">
              <input id="releaseDate" name="releaseDate" type="text" placeholder="i.e. February 11, 2015" class="form-control input-md">

              </div>
            </div>
            <br>
            <br>
            <!-- Textarea -->
            <div class="form-group">
              <label class="col m6 control-label" for="type"> Type (separated by commas) :</label>
              <div class="col s6 m6 l6">
                <textarea class="form-control" id="type" name="type">running, lifestyle</textarea>
              </div>
            </div>
            <br>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col m6 control-label" for="review">Add your review: </label>
              <div class="col s6 m6 l6">
                <textarea class="form-control" id="review" name="review"></textarea>
              </div>
            </div>
            <br>

            <!-- Button -->
            <div class="form-group">
              <label class="col sm12 m12 l12 control-label" for="singlebutton"></label>
              <div class="col sm12 m12 l12">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      </div>
    </section>

     <!--   END FORM SAMPLE -->
   </main>
   <footer class = "footer">
     <!-- <p>julie and kevin's project</p> -->
   </footer>
       </div>
     </div>
   </div>


 </body>
 </html>
