h1{
  font-family: 'Rubik Mono One', sans-serif;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

nav {
  background-color: black;
  font-family: 'Electrolize', sans-serif;
  padding-left: 10px;
}

.navbar {
  display: inline-block;
  background-color: black;
  float:left;
  margin: auto;
  padding-right: 10px;
}

main {
  overflow: scroll;
  height: 500px;
}

#top25 {
  margin-left: -100px;
}

h2 {
  font-size: 40px;
  text-align: left;
  padding-left: 15px;
  font-family: 'Permanent Marker', cursive;
}

.banner{
  padding-bottom: 20px;
}

#shoes {
  font-family: helvetica, sans-serif;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  padding-right: 5px;
}

span {
  font-family: 'Rock Salt', sans-serif;
  font-size: 12px;
  white-space: nowrap;
}

.inline-header {
  display: inline-block;
  margin: auto;
  float: left;
  clear: both;
  text-align: left;
}

.list-group {
  margin-left: 30px;
  height: 400px;
  text-align: left;
}

.list-group-item{
  float: left;
}
.shoe-art {
  float: left;
  margin: auto;
  clear: both;
}

.brand-art {
  float: left;
  margin: auto;
}

img {
  height: 200px;
  clear: both;
<<<<<<< HEAD
  margin-left: -150px;
}

.source {
  background-color: lightgrey;
}

.form-control {
  background-color: white;
  color: darkgrey;
  padding: 5px;
  font-size: 10px;
  width: 200px;
}

label {
  color: black;
  font-family: 'Electrolize', sans-serif;
  text-align: right;
  font-size: 12px;
  vertical-align: bottom;
}

.form-group {
  display: inline-block;
  margin: 0px;
  padding: 5px;
  text-align: left;
  height: 50px;

}

legend {
  font-family: 'Permanent Marker', sans-serif;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 24px;
}

input {
  color: black;
  width: 300px;
  height: 50px;
  text-align: left;
}

.brand-img {
  height: 120px;
  clear: both;
  margin-left: -120px;
}

#singlebutton {
  font-family: 'Roboto Condensed', sans-serif;
  border-color: none;
  background-color: grey;
  font-size: 12px;
  width: 80px;
  height: 45px;
  padding:5px;
}

#brand {
  height: 150px;
  padding: 10px;
  margin-left: 10px;
}
